$color-blue: blue;
$boxShadow: 2px 2px 6px rgba(0, 0, 0, 0.7);

/* 
 1. 기본
 - nesting
 - 자기자신 선택&
 - 변수 사용
*/
@import "utils";
.div1 {
  width: 100px;
  height: 100px;
  background-color: $color-red;
  .div2 {
    width: 50%;
    height: 50%;
    background-color: $color-orange;
    box-shadow: inset $boxShadow;
    .div3 {
      background-color: $color-yellow;
      width: 50%;
      height: 50%;
      box-shadow: $boxShadow;
    }
  }
  .btn {
    display: inline-block;
    transition: $animation-duration;
    width: 33%;
    font-size: 8px;
    height: 40px;
    padding: 0;
    color: white;

    &.orangered {
      background-color: orangered;
    }

    &--opacity {
      background-color: $color-blue;
      opacity: 0.5;
      &:hover {
        opacity: 0.2;
      }
    }

    &--blue {
      background-color: $color-blue;
    }
  }
}
