<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>form 배우기</title>
  </head>
  <body>
    <h1>GET 요청</h1>
    <form action="/getForm" method="get">
      <label>
        id:
        <input type="text" name="id" />
      </label>
      <br />
      <label>
        email:
        <input type="email" name="email" />
      </label>
      <br />
      <label>
        password:
        <input type="password" name="pw" />
      </label>
      <br />

      <button type="button">제출(botton type)</button>
      <button type="submit">제출(submit type)</button>
    </form>
  </body>
</html>
